%episode {
  display: block;
  border-top: 1px solid $light-gray;
  padding: 1.25em 0 1.25em 60px;
  position: relative;

  h2 {
    margin-bottom: 0.15em;

    a {
      text-decoration: none;
    }
  }
}

.featured-episode {
  margin: 2em 0 2.5em;

  h2 {
    margin-bottom: 0.15em;

    a {
      display: inline-block;
      margin-right: 0.4em;
      text-decoration: none;
    }
  }
}

.published-episode {
  @extend %episode;
}

.unpublished-episode {
  @extend %episode;
  color: $light-gray;
}

.play-button {
  position: absolute;
  display: block;
  left: -2px; // Optical!
  top: 50%;
  transform: translateY(-50%);
  background-color: $highlight-color;
  border: $highlight-color-border;
  width: 43px;
  height: 43px;
  border-radius: 50%;

  svg {
    position: absolute;
    height: 25px;
    width: 14px;
    top: 8px;
    left: 15px;
  }

  &:hover {
    background-color: mix($highlight-color, #000, 92%);
  }
}

.byline {
  margin: 1em 0 1.5em;
}

.show-notes {
  margin: 1.5em 0;
  line-height: 160%;
}

.show-links {
  margin: 1em 0 2em;
}

.new-flag {
  background: $highlight-color;
  display: inline-block;
  padding: 0.25em 0.5em;
  line-height: 1.2em;
  font-size: 0.8rem;
  font-weight: normal;
  color: $white;
  vertical-align: 30%;
}

.episode-number {
  @extend %all-caps;
  font-weight: bold;
  margin: 0 0 0.5em;

  .episode-date {
    font-weight: normal;
  }
}

.episode-title {
  margin-top: 0;
}

.coming-soon-date {
  font-style: italic;
}

.fixed-audio-player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.9);
  border-top: 1px solid $light-gray;
  z-index: 100;
  padding: 0.5em;
}
