$episode-breakpoint: 1100px;

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(1em);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

.episode-info-wrapper {
  margin: 1.25em 0;

  h2 {
    margin-bottom: 0.15em;

    a {
      text-decoration: none;

      &::after {
        content: "\00a0";
      }
    }
  }

  @media screen and (min-width: $episode-breakpoint) {
    display: flex;
    flex-direction: row-reverse;

    .episode-secondary-info {
      flex: 1;
    }

    .episode-primary-info {
      flex: 2;
    }
  }
}

.episode-secondary-info {
  @extend %all-caps;
  line-height: 160%;

  @media screen and (max-width: $episode-breakpoint - 1px) {
    margin-bottom: 0.5em;

    .episode-number {
      font-weight: bold;
      display: inline-block;
    }

    .episode-date {
      display: inline-block;

      &::before {
        content: "\00a0—\00a0";
      }
    }
  }
}

.featured-episode {
  padding: 1.2em;
  border: 1px solid mix($white, $black, 85%);;
  margin: 0 0 2.5em;
  border-radius: 5px;

  h3 {
    margin: 0 0 1em;
  }

  .show-notes {
    margin: 1em 0 0;
  }
}

.episode {
  padding: 1px 0 1px 60px;
  border-top: 1px solid $light-gray;
  position: relative;
}

.individual-episode {
  @extend .text-wrapper;

  .episode-secondary-info {
    margin-bottom: 0.5em;

    .episode-number {
      font-weight: bold;
      display: inline-block;
    }

    .episode-date {
      display: inline-block;

      &::before {
        content: "\00a0—\00a0";
      }
    }
  }
}

.play-button {
  position: absolute;
  display: block;
  left: -2px; // Optical!
  top: 50%;
  transform: translateY(-50%);
  background-color: $highlight-color;
  border: $highlight-color-border;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  backface-visibility: none;

  svg {
    position: absolute;
    height: 25px;
    width: 14px;
    top: 8px;
    left: 15px;
  }

  &:hover {
    background-color: mix($highlight-color, #000, 92%);
  }
}

.byline {
  margin: 1em 0 1.5em;
}

.show-notes {
  margin: 1.5em 0;
  line-height: 160%;
}

.show-links {
  margin: 1em 0 2em;

  li {
    max-width: 24em;
  }
}

.new-flag {
  animation: slide-up 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background: $highlight-color;
  display: inline-block;
  padding: 0.25em 0.5em;
  line-height: 1.2em;
  font-size: 0.8rem;
  color: $white;
  vertical-align: 30%;
  -webkit-font-smoothing: antialiased;
}

.episode-title {
  margin-top: 0;
}

.fixed-audio-player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.9);
  border-top: 1px solid $light-gray;
  z-index: 100;
  padding: 0.5em;

  @media screen and (max-width: 800px) {
    iframe {
      height: 120px;
    }
  }

  @media screen and (max-width: 600px) {
    iframe {
      height: 100px;
    }
  }
}
