$text-column-max-width: 32em;
$navigation-width: 200px;
$main-gutter: 8em;
$secondary-gutter: 3em;

body {
  position: relative;
  margin: 5% 5% 260px;

  @media screen and (max-width: 599px) {
    .artwork-wrapper {
      margin: 10% 22%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: $side-by-side-breakpoint - 1px) {
    .navigation-wrapper {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5%;

      .artwork-wrapper {
        width: 150px;
        height: 150px;
        margin-right: 3em;
      }

      .main-nav {
        flex: 1;
      }
    }
  }

  @media screen and (min-width: $side-by-side-breakpoint) {
    display: flex;
    align-items: flex-start;

    .navigation-wrapper {
      flex: 0 0 $navigation-width;
      margin-right: $main-gutter;
    }

    .content-wrapper {
      flex: 1;

      .text-wrapper,
      .transcript {
        max-width: $text-column-max-width;
      }
    }
  }

  @media screen and (min-width: 1250px) {
    .meta-data-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;

      .transcript {
        flex: 0 0 $text-column-max-width;
        margin-right: $secondary-gutter;
      }

      .show-links {
        flex: 1;
      }
    }
  }
}
