$artwork-padding: 14%;
$artwork-padding-remainder: 100% - $artwork-padding * 2;

.artwork {
  width: 300px;
  height: 300px;
  position: relative;
  display: block;
  background: $highlight-color;

  .logo-work {
    position: absolute;
    top: $artwork-padding;
    left: $artwork-padding;
    margin-top: -0.045 * $artwork-padding-remainder;
    margin-left: -0.045 * $artwork-padding-remainder;
    width: 0.78 * $artwork-padding-remainder;
    z-index: 1;
  }

  .logo-ing {
    position: absolute;
    top: $artwork-padding + 0.205 * $artwork-padding-remainder;
    right: $artwork-padding - 7.4%;
    width: 0.74 * $artwork-padding-remainder;
    z-index: 3;
  }

  .logo-file {
    position: absolute;
    bottom: $artwork-padding;
    right:  $artwork-padding + 0.15 * $artwork-padding-remainder;
    width: 0.7 * $artwork-padding-remainder;
    z-index: 2;
  }
}
