%episode {
  display: block;
  margin: 1em 0 1.5em;
  border-top: 1px solid $light-gray;

  h2 a {
    text-decoration: none;
  }
}

.published-episode {
  @extend %episode;
}

.unpublished-episode {
  @extend %episode;
  color: $light-gray;
}

.byline {
  margin: 1em 0 1.5em;
}

.show-notes {
  margin: 1.5em 0;
  line-height: 160%;
}

.episode-number {
  @extend %all-caps;
  font-weight: 700;
  margin: 2.5em 0 0.5em;

  .episode-date {
    font-weight: 400;
  }
}

.episode-title {
  margin-top: 0;
}

.coming-soon-date {
  font-style: italic;
}

.fixed-audio-player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.9);
  border-top: 1px solid $light-gray;
  z-index: 100;
  padding: 0.5em;
}

.transcript.not-available {
  border: 1px dashed $light-gray;
  padding: 10vh 2em;
  text-align: center;
}

.transcript-message {
  position: relative;
  margin: 1em 0;

  .timecode {
    position: absolute;
    top: 0;
    right: calc(100% + 1em);
    color: $light-gray;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;

    a {
      text-decoration: none;
    }
  }

  .speaker {
    font-weight: bold;
    display: inline;

    &:after {
      content: ": ";
    }
  }

  .message-content {
    display: inline;
  }
}

.transcript-interstitial {
  color: $light-gray;
  margin: 1em 0;
}
