// Colors
$black: #000E15;
$white: #fff;
$background-color: mix($white, $black, 100%);
$text-color: mix($white, $black, 10%);
$highlight-color: #00C98C;

.fill-highlight-color { fill: $highlight-color; }
.fill-black { fill: $black; }

// Art-specific variables
$light-gray: mix($white, $black, 75%);
$medium-gray: mix($white, $black, 50%);
$dark-gray: mix($white, $black, 10%);

.fill-art-background-color { fill: $white; }
.fill-light-gray { fill: $light-gray; }
.fill-medium-gray { fill: $medium-gray; }
.fill-dark-gray { fill: $dark-gray; }

$side-by-side-breakpoint: 800px;

@font-face {
  font-family: 'Grep';
  src:  url('/fonts/Grep-Regular.woff2') format('woff2'),
        url('/fonts/Grep-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Grep';
  src:  url('/fonts/Grep-Bold.woff2') format('woff2'),
        url('/fonts/Grep-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
