// Colors
$black: #000E15;
$white: #fff;
$background-color: mix($white, $black, 100%);
$text-color: mix($white, $black, 10%);
$highlight-color: #00C98C;

.fill-highlight-color { fill: $highlight-color; }
.fill-black { fill: $black; }

// Art-specific variables
$lightest-gray: mix($white, $black, 93%);
$light-gray: mix($white, $black, 75%);
$medium-gray: mix($white, $black, 50%);
$dark-gray: mix($white, $black, 10%);

.fill-art-background-color { fill: $white; }
.fill-light-gray { fill: $light-gray; }
.fill-medium-gray { fill: $medium-gray; }
.fill-dark-gray { fill: $dark-gray; }
