@import "globals";
@import "typography";

.content-wrapper {
  position: relative;
  width: 90%;
  height: 0;
  margin: 5% auto 3em;
  max-width: 75vh;

  @media screen and (min-width: 850px) {
    max-width: none;

    .artwork-wrapper {
      position: fixed;
      width: calc(85% - #{$content-column-width});
      max-width: calc(100vh - 10vw);
      padding: 5% 0;
      top: 0;
      right: calc(10% + #{$content-column-width});
      bottom: 0;

      .artwork {
        position: absolute;
        top: 5vw;
        right: 0;
      }
    }

    .content {
      width: $content-column-width;
      margin-left: calc(100% - #{$content-column-width});
    }
  }
}

.artwork-wrapper {
  padding: 8%;
}

.artwork {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  display: block;
  margin-bottom: 5%;

  .logo-work {
    animation: slide-in 0.5s ease 0s;
    animation-fill-mode: both;
    position: absolute;
    top: -4.5%;
    left: -4.5%;
    width: 78%;
    z-index: 1;
  }

  .logo-ing {
    animation: slide-in 0.5s ease 0.25s;
    animation-fill-mode: both;
    position: absolute;
    top: 19.5%;
    right: -8.4%;
    width: 81%;
    z-index: 3;
  }

  .logo-file {
    animation: slide-in 0.5s ease 0.5s;
    animation-fill-mode: both;
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 70%;
    z-index: 2;
  }
}

.content {
  padding-bottom: 50vh;
}

.navigation-link {
  display: inline-block;
  margin-right: 1.5em;
  line-height: 2em;
}

.contributor-list {
  line-height: 180%;
  column-count: 2;
}

%episode {
  display: block;
  margin: 1.7em 0;
}

.published-episode {
  @extend %episode;
  text-decoration: none;
}

.unpublished-episode {
  @extend %episode;
  font-style: italic;
  opacity: 0.25;
}
