$background-color: #444168;
$text-color: #fff;
$highlight-color: #71BE5A;
$black: #000E15;

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
}

.content-wrapper {
  width: 90%;
  height: 0;
  margin: 5% auto 3em;
}

.artwork {
  background-color: $highlight-color;
  height: 0;
  padding-bottom: 100%;
}

.content {

}
