$background-color: #444168;
$text-color: #fff;
$highlight-color: #71BE5A;
$black: #000E15;

.fill-text-color { fill: $text-color; }
.fill-highlight-color { fill: $highlight-color; }
.fill-black { fill: $black; }


$content-column-width: 28em;

// Grays, for use in the svg art only
$light-gray: mix($text-color, $black, 87%);
$medium-gray: mix($text-color, $black, 50%);
$dark-gray: mix($text-color, $black, 10%);

.fill-light-gray { fill: $light-gray; }
.fill-medium-gray { fill: $medium-gray; }
.fill-dark-gray { fill: $dark-gray; }

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

@keyframes slide-in {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: $background-color;
  color: $text-color;

  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}

a {
  color: inherit;

  &:hover {
    color: $highlight-color;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $text-color;
  margin: 1em 0;
}

h1 {
  line-height: 120%;
}

h2 {
  margin: 0;
}

.content-wrapper {
  position: relative;
  width: 90%;
  height: 0;
  margin: 5% auto 3em;
  max-width: 75vh;

  @media screen and (min-width: 850px) {
    max-width: none;

    .artwork-wrapper {
      position: fixed;
      width: calc(85% - #{$content-column-width});
      max-width: calc(100vh - 10vw);
      padding: 5% 0;
      top: 0;
      right: calc(10% + #{$content-column-width});
      bottom: 0;

      .artwork {
        position: absolute;
        top: 5vw;
        right: 0;
      }
    }

    .content {
      width: $content-column-width;
      margin-left: calc(100% - #{$content-column-width});
    }
  }
}

.artwork-wrapper {
  padding: 8%;
}

.artwork {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  display: block;
  margin-bottom: 5%;

  .logo-work {
    animation: slide-in 0.5s ease 0s;
    animation-fill-mode: both;
    position: absolute;
    top: -4.5%;
    left: -4.5%;
    width: 78%;
    z-index: 1;
  }

  .logo-ing {
    animation: slide-in 0.5s ease 0.25s;
    animation-fill-mode: both;
    position: absolute;
    top: 20%;
    right: -8.4%;
    width: 81%;
    z-index: 3;
  }

  .logo-file {
    animation: slide-in 0.5s ease 0.5s;
    animation-fill-mode: both;
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 70%;
    z-index: 2;
  }
}

.content {
  padding-bottom: 40vh;
}

nav .navigation-link {
  display: inline-block;
  margin-right: 2em;
}

.contributor-list {
  line-height: 160%;
  column-count: 2;
}

%episode {
  display: block;
  margin: 1.7em 0;
}

.published-episode {
  @extend %episode;
  text-decoration: none;
}

.unpublished-episode {
  @extend %episode;
  font-style: italic;
  opacity: 0.25;
}

.back-link {
  display: inline-block;
  margin-bottom: 1.5em;
}
