nav
  = link_to "Episodes", "/episodes.html", class: "navigation-link"
  = link_to "Contributors", "/contributors.html", class: "navigation-link"
  = link_to "Contact", "/contact.html", class: "navigation-link"
