- content_for(:title, "Subscribe")
- content_for(:description, "You can subcribe to Working File in a number of different ways so you don't miss new episodes.")


h1 Subscribe
p Click the correct links!
